.Conteneur {
	padding-right: 1vw;
	padding-left: 1vw;
}

.conteneur {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-content: flex-start;
	align-items: center;
}

.image-container {
	height: 30vw;
	border-width: 0.5vw;
	border-color: black;
	border-style: solid;
	border-radius: 1vw;

}
.text {
	max-height: 30vw;
	border-width: 0.5vw;
	border-color: black;
	border-style: solid;
	border-radius: 1vw;
	font-weight: bold;
	font-size: 1.8vw;
	padding-top: 1vw;
	padding-left: 1vw;
	overflow: hidden;
	text-overflow: ellipsis;
	background-color: #f5f5f5;
}
.text:hover {
	max-height: none;

}