@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

.conteneur-details {
	padding-top: 10px;
}

.conteneur-image {
	max-width: 100vw;
	margin-top: 35px;
}

.rating {
   direction: rtl;
}
.rating a {
   color: #aaa;
   text-decoration: none;
   font-size: 3em;
   transition: color .4s;
}
.rating a:hover,
.rating a:focus,
.rating a:hover ~ a,
.rating a:focus ~ a {
   color: orange;
   cursor: pointer;
}


.flotte {
float: left;
padding-right: 10px;
}

.flotte1 {
	float: right;
	padding-left: 10px;
}

.card {
	max-width: 450px;
	margin-top: 100px;
	margin-left: 550px;
}
.card-title {
	font-weight: bold;
	background-color: grey;
}
.card-text {
	background-color: grey;
}
.cadre-avis {
	text-align: center;
	width: 30vw;
	border: 10px solid black;
	padding: 5px;
	border-radius: 10px;
	margin: 100px;
	margin-top: 0px;
	margin-bottom: 0px;
}

/****** Style Star Rating Widget *****/

.rating { 
  border: none;
  float: left;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating > label { 
  color: #ddd; 
 float: right; 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 