/* PAGE : CRITICS*/

#Critics #descriptionpage {
    text-align: center;
    margin-bottom: 8em;
    width: 43em;
    /* justify-content: center; */
    margin-left: auto;
    margin-right: auto;
}
#Critics #titrepage {
    font-size: 5em;
    text-align: center;
    margin-bottom: 1em;
}
#Critics h2 {
    text-align: left;
    margin-bottom: 1em;
    background-color: #34495E;
    color: white;
    padding: 0.4em;
}
#Critics .titre p{
    margin-bottom: 80px;
}

.titre h1 { text-align: center;
    font-weight: bold;
     font-size: 5em;
    }
#Critics .titre h1 {
        margin-bottom: 1em;
        margin-top: 1em;
    }

.titre p {
    text-align: center;
    margin-bottom: 6em;
}
.titre {
    margin-bottom: 11em;
}


/* les cards des films */
.movieslist img{
    width: 100%;
    height: 20em;
}
 .card-header, .metadata {
    background: none;
    padding: 0;
    position: relative;
    border-style: none;
 }
 
 .metadata {
    font-size: 16px;
    i, p {
       float: left;
    }
    p {
       margin-top: 0;
       margin-left: 10px;
    }
    i {
       color: #ff9d00;
       margin-top: 5px;
       margin-left: 1px;
    }
 }
 
 .card-title {
    margin: 0px;
    font-size: 1.5em;
    margin-bottom: 10px;
    margin-top: 14px;
    font-weight: bold;
}
 .card-img {
    -webkit-clip-path: inset(10% 0 20% 0);
     clip-path: inset(10% 0 20% 0);
     margin-top: 1em;
 }
 .card-body span{
    text-align: right;
 }
 .card-body {
    position: relative;
    margin-top: -2em;
    padding-top:0px;
    .card-title {
       font-weight: 600;
       color: #414345;
    }
    .card-text {
        text-align: center;
       margin-top: 8px;
       font-size: 1.1em;
    }
 }


 .card-body p {
    font-size: 1.1em;
}

p.col-6.auteur {
    font-size: 0.8em;
}
 #Critics .glyphicon-star{
    color: rgb(204, 199, 199);
    } 
#Critics .color{
        color: #007bff;
    }
 .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 8pt;
    border-style: none;
    margin-bottom: 3em;
}
.card-body a {
    color: black;
    margin-top: 10px;
    text-decoration: underline;
}
.card-body a:hover{
    color: black;
    margin-top: 10px;
    text-decoration: none;
}

#Critics a.seecritic:hover {
    color: black;
}
i.glyphicon.glyphicon-menu-right {
    top: 3px;
}


div#pagination {
    text-align: center;
}




/* MEDIAQUERIES PAGE CRITICS */

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { .movieslist img {
    width: 100%;
    height: 18em;
} }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 991px) { 
    #Critics .movieslist img {
    width: 100%;
    height: 13em;
} 
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    #Critics .movieslist img { 
    } 
 }







/* Acceuil css */

/* Navbar */
.sticky-top
{
    margin-top: 10px;
}
.bg-light 
{
    background-color: #ecececbf!important;
    box-shadow: 6px 6px 0px 6px 6px 0px #c510102e;
}

.navbar-light .navbar-brand
{
    color: rgb(0, 0, 0);
}

.navbar-brand
{
    font-size: 2.1em;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link
{
    color:black;
}
}

.navbar-light .navbar-nav .nav-link
{
    color:black;
}
}

.navbar-light .navbar-nav .nav-link.disabled
{
    color:black;
}
}
.navbar
{
    margin: 0px;
}



/* image carousel */
#accueil img
{
    height: 47vw;
    width: 20vw;
}
.vide
{
    padding-top: 35px;
}


footer ul
{
    background-color: #ecececbf;
    padding: 10px;
    text-align: center;
    margin-top: 10px;
    list-style: none;
    color: black;
}

/* About us */


.principal
{
    text-align: center;
    font-size: 3em;
    margin: 50px;
    background-color: #34495E;
    opacity: 0.9;
    box-shadow: 6px 6px 0px gray;
    color: white;
    padding: 10px;

}


/* Accueil LAST CRTICS */

#lastcritics{
    margin-top: 8em;
}


/* */

.texte 
{   
    text-align: justify;
    padding: 20px;
    font-size: 1.3em;
    color: black;

}
    #about
{
    border: 2px #344e5e1c solid;
    margin-top: 50px;
    border-radius: 10px 5px 10px 5px;
    background-color: #f7f7f7;
    opacity: 0.9;
}



/* Interstelar */

.conteneur-details 
{
	padding-top: 10px;
}

.conteneur-image {
    max-width: 100vw;
    margin-top: 35px;
    position: relative;
}

.rating {
   direction: rtl;
}
.rating a {
   color: #aaa;
   text-decoration: none;
   font-size: 3em;
   transition: color .4s;
}
.rating a:hover,
.rating a:focus,
.rating a:hover ~ a,
.rating a:focus ~ a {
   color: orange;
   cursor: pointer;
}

.flotte {
float: left;
}




/* LogIn */

#imagedefond{
    background-image: url('https://images.pexels.com/photos/395198/pexels-photo-395198.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    display: flex;
    justify-content: center;
}

#fond{
    background-color: white;
    background-repeat: no-repeat;
    border-radius: 20px;
    width: 400px;
    padding: 40px;
    display: flex;
    justify-content: center;
    margin-top: 10em;
}

#intitule{
    display:flex;
    position: relative;
    top:50px;

}
.logo{
    display: flex;
    justify-content: center;
    position: relative;
    top: -15px;
    left: 22px;
}

/* Sign Up */

#misenpage{
    background-color: white;
    background-repeat: no-repeat;
    border-radius: 20px;
    padding: 40px;
    display: flex;
    justify-content: center;
    margin-top: 3em;
}

======= changements des autres 
padding-right: 10px;
}

.flotte1 {
    float: right;
    padding-left: 10px;
}
.cadre-avis {
    text-align: center;
    width: 30vw;
    border: 15px white;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    position: absolute;
    left: 35%;
    top: 120%;
    color: black;
}
.cadre-avis:h3 {
    margin-top: 0px;
    margin-bottom: 0px;
}
.rating {
  display: inline-block;
  position: relative;
  height: 50px;
  line-height: 50px;
  font-size: 50px;
}

.rating label {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  cursor: pointer;
}

.rating label:last-child {
  position: static;
}

.rating label:nth-child(1) {
  z-index: 5;
}

.rating label:nth-child(2) {
  z-index: 4;
}

.rating label:nth-child(3) {
  z-index: 3;
}

.rating label:nth-child(4) {
  z-index: 2;
}

.rating label:nth-child(5) {
  z-index: 1;
}

.rating label input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.rating label .icon {
  float: left;
  color: transparent;
}

.rating label:last-child .icon {
  color: #000;
}

.rating:not(:hover) label input:checked ~ .icon,
.rating:hover label:hover input ~ .icon {
  color: #09f;
}

.rating label input:focus:not(:checked) ~ .icon:last-child {
  color: #000;
  text-shadow: 0 0 5px #09f;
}



/* Contact Us */

#contact
{
    border: 2px #344e5e1c solid;
    margin-top: 50px;
    border-radius: 10px 5px 10px 5px;
    background-color: #f7f7f7;
    opacity: 0.9;
    padding: 30px;
    margin-bottom: 40px;
}


