<<<<<<< HEAD

/* PAGE : LAST MOVIES PAGE */
.titre{
    text-align: center;
    margin-top: 50px;
}
.titre h1{
    font-weight: bold;
    margin-bottom: 80px;
}
.titre p{
    margin-bottom: 80px;
}

figure.figure.col-sm-6.col-lg-3 {
    padding-bottom: 15px;
    padding-top: 15px;
}
figure img:hover p{
    display: block
}




/* Acceuil css */

/* Navbar */
.sticky-top
{
    margin-top: 10px;
}
.bg-light 
{
    background-color: #34495E!important;
    box-shadow: 6px 6px 0px gray;
}

.navbar-light .navbar-brand
{
    color: rgba(255, 255, 255, 1)
}

.navbar-brand
{
    font-size: 2.1em;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link
{
    color:rgba(255, 255, 255, 1);
}

.navbar-light .navbar-nav .nav-link
{
    color:rgba(255, 255, 255, 1);
}

.navbar-light .navbar-nav .nav-link.disabled
{
    color:rgba(255, 255, 255, 1);
}
.navbar
{
    margin: 0px;
}

/* image carousel */

#accueil img
{   

    height: 650px;
    width: 1200px;
}
.vide
{
    padding-top: 40px;
}

a
{
    color: white;
}

a:hover
{
    color:black;
}


footer ul
{
    background-color: #34495E;
    padding: 10px;
    text-align: center;
    margin-top: 20px;
    list-style: none;
    color: white;
    box-shadow: 6px 6px 0px gray;
}

/* About us */


.principal
{
    text-align: center;
    font-size: 3em;
    margin: 50px;
    background-color: #34495E;
    opacity: 0.9;
    box-shadow: 6px 6px 0px gray;
    color: white;
    padding: 10px;

}

.texte 
{   
    text-align: justify;
    padding: 20px;
    font-size: 1.3em;
    color: black;

}
    #about
{
    border: 2px #344e5e1c solid;
    margin-top: 50px;
    border-radius: 10px 5px 10px 5px;
}

/* Interstelar */

.conteneur-details {
	padding-top: 10px;
}

.conteneur-image {
	max-width: 100vw;
}


