/* Acceuil css */

/* Navbar */
.sticky-top
{
    margin-top: 10px;
}
.bg-light 
{
    background-color: black!important;
    box-shadow: 6px 6px 0px 6px 6px 0px #c510102e;
}

.navbar-light .navbar-brand
{
    color: white;
}


.navbar-brand
{
    font-size: 2.1em;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link
{
    color:white;
}


.navbar-light .navbar-nav .nav-link
{
    color:white;
}



.navbar
{
    margin: 0px;
}




/* image carousel */
#accueil img
{
    height: 47vw;
    width: 20vw;
}
.vide
{
    padding-top: 35px;
}


footer ul
{
    background-color: #e6e6e6!important;
    padding: 10px;
    text-align: center;
    margin-top: 10px;
    list-style: none;
    color: white;
}
a.navbar-brand.disabled:hover {
    color:#d0cbcb;
}

/* About us */


.principal
{
    text-align: center;
    font-size: 3em;
    margin: 50px;
    background-color: #34495E;
    opacity: 0.9;
    box-shadow: 6px 6px 0px gray;
    color: white;
    padding: 10px;

}


/* Accueil LAST CRTICS */

#lastcritics{
    margin-top: 8em;
}


/* */

.description
{   
    text-align: justify;
    padding: 20px;
    font-size: 1.3em;
    color: black;

}
    #about
{
    border: 2px #344e5e1c solid;
    margin-top: 50px;
    border-radius: 10px 5px 10px 5px;
    background-color: #f7f7f7;
    opacity: 0.9;
}


/* PAGE : CRITICS*/

#Critics #descriptionpage {
    text-align: center;
    margin-bottom: 8em;
    width: 43em;
    /* justify-content: center; */
    margin-left: auto;
    margin-right: auto;
}
#Critics #titrepage {
    font-size: 5em;
    text-align: center;
    margin-bottom: 1em;
}
#Critics h2 {
    text-align: left;
    margin-bottom: 1em;
    background-color: #34495E;
    color: white;
    padding: 0.4em;
}
#Critics .titre p{
    margin-bottom: 80px;
}

#Critics .titre h1 { text-align: center;
    font-weight: bold;
     font-size: 5em;
    }
#Critics .titre h1 {
        margin-bottom: 1em;
        margin-top: 1em;
    }

    #Critics .titre p {
    text-align: center;
    margin-bottom: 6em;
}
#Critics .titre {
    margin-bottom: 11em;
}


/* les cards des films */
#Critics .movieslist img{
    width: 100%;
    height: 20em;
}
#Critics .card-header, .metadata {
    background: none;
    padding: 0;
    position: relative;
    border-style: none;
 }
 
 #Critics .metadata {
    font-size: 16px;
}
#Critics .metadata i, .metadata p {
       float: left;
    }
    #Critics .metadata p {
       margin-top: 0;
       margin-left: 10px;
    }
    #Critics .metadata i {
       color: #ff9d00;
       margin-top: 5px;
       margin-left: 1px;
    }
 
 
    #Critics .card-title {
    margin: 0px;
    font-size: 1.5em;
    margin-bottom: 10px;
    margin-top: 14px;
    font-weight: bold;
}
#Critics .card-img {
    -webkit-clip-path: inset(10% 0 20% 0);
     clip-path: inset(10% 0 20% 0);
     margin-top: 1em;
 }
 #Critics .card-body span{
    text-align: right;
 }
 #Critics .card-body {
    position: relative;
    margin-top: 0.5em;
    padding-top:0px;
}
#Critics .card-body .card-title {
       font-weight: 600;
       color: #414345;
    }
    #Critics .card-body   .card-text {
        text-align: left;
       margin-top: 8px;
       font-size: 1.1em;
       margin-bottom: 22px;
    }
 


    #Critics .card-body p {
    text-align: left;
}

.auteur {
    font-size: 0.8em;
}
 #Critics .glyphicon-star{
    color: rgb(204, 199, 199);
    } 
#Critics .color{
        color: #007bff;
    }
    #Critics .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 8pt;
    border-style: none;
    margin-bottom: 3em;
}
#Critics .card-body a {
    color: black;
    margin-top: 10px;
    text-decoration: underline;
}
#Critics .card-body a:hover{
    color: black;
    margin-top: 10px;
    text-decoration: none;
}

#Critics a.seecritic:hover {
    color: black;
}
i.glyphicon.glyphicon-menu-right {
    top: 3px;
}


div#pagination {
    text-align: center;
}




/* MEDIAQUERIES PAGE CRITICS */

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { .movieslist img {
    width: 100%;
    height: 18em;
} }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 991px) { 
    #Critics .movieslist img {
    width: 100%;
    height: 13em;
} 
}



/* Acceuil css */

/* Navbar */
.sticky-top
{
    margin-top: 10px;
}
.bg-light 
{
    background-color: #e6e6e6!important;
    box-shadow: 6px 6px 0px 6px 6px 0px #c510102e;
}

.navbar-light .navbar-brand
{
    color: rgb(0, 0, 0);
}

.navbar-brand
{
    font-size: 2.1em;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link
{
    color:black;
}


.navbar-light .navbar-nav .nav-link
{
    color:black;
}


.navbar-light .navbar-nav .nav-link.disabled
{
    color:black;
}

.navbar
{
    margin: 0px;
}



/* image carousel */
#accueil img
{
    height: 47vw;
    width: 20vw;
}
.vide
{
    padding-top: 35px;
}


footer ul
{
    background-color: #ecececbf;
    padding: 10px;
    text-align: center;
    margin-top: 10px;
    list-style: none;
    color: black;
}

/* About us */


.principal
{
    text-align: center;
    font-size: 3em;
    margin: 50px;
    background-color: #34495E;
    opacity: 0.9;
    box-shadow: 6px 6px 0px gray;
    color: white;
    padding: 10px;

}


/* Accueil LAST CRTICS */

#lastcritics{
    margin-top: 8em;
}


/* */

.description
{   
    text-align: justify;
    padding: 20px;
    font-size: 1.3em;
    color: black;

}
    #about
{
    border: 2px #344e5e1c solid;
    margin-top: 50px;
    border-radius: 10px 5px 10px 5px;
    background-color: #f7f7f7;
    opacity: 0.9;
}


/* Interstelar */

.conteneur-details 
{
	padding-top: 10px;
}
.flexbox {
    margin-top: 35px;
    position: relative;
}
.conteneur-image {
    max-width: 100vw;
    position: relative;
}

.rating {
   direction: rtl;
}
.rating a {
   color: #aaa;
   text-decoration: none;
   font-size: 3em;
   transition: color .4s;
}
.rating a:hover,
.rating a:focus,
.rating a:hover ~ a,
.rating a:focus ~ a {
   color: orange;
   cursor: pointer;
}




/* LogIn */

#imagedefond{
    background-image: url('https://images.pexels.com/photos/395198/pexels-photo-395198.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    display: flex;
    justify-content: center;
}

#fond{
    background-color: white;
    background-repeat: no-repeat;
    border-radius: 20px;
    width: 400px;
    padding: 40px;
    display: flex;
    justify-content: center;
    margin-top: 10em;
}

#intitule{
    display:flex;
    position: relative;
    top:50px;

}
.logo{
    display: flex;
    justify-content: center;
    position: relative;
    top: -15px;
    left: 22px;
}

/* Sign Up */

#misenpage{
    background-color: white;
    background-repeat: no-repeat;
    border-radius: 20px;
    padding: 40px;
    display: flex;
    justify-content: center;
    margin-top: 3em;
}

.flotte1 {
    float: right;
    padding-left: 10px;
}

.cadre-avis {
    text-align: center;
    width: 30vw;
    border: 15px white;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    position: absolute;
    left: 35%;
    top: 50vw;
    color: black;
}
.rating-text {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 2vw;
}
.rating {
  display: inline-block;
  position: relative;
  height: 5vw;
  line-height: 5vw;
  font-size: 4vw;
}

.rating label {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  cursor: pointer;
}

.rating label:last-child {
  position: static;
}

.rating label:nth-child(1) {
  z-index: 5;
}

.rating label:nth-child(2) {
  z-index: 4;
}

.rating label:nth-child(3) {
  z-index: 3;
}

.rating label:nth-child(4) {
  z-index: 2;
}

.rating label:nth-child(5) {
  z-index: 1;
}

.rating label input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.rating label .icon {
  float: left;
  color: transparent;
}

.rating label:last-child .icon {
  color: #000;
}

.rating:not(:hover) label input:checked ~ .icon,
.rating:hover label:hover input ~ .icon {
  color: #09f;
}

.rating label input:focus:not(:checked) ~ .icon:last-child {
  color: #000;
  text-shadow: 0 0 5px #09f;
}
.float-right {
    margin-left: 5px;
    max-width: 100vw;
    margin-right: 50px;
}
.float-left {
    margin-right: 5px;
    max-width: 100vw;
    margin-left: 50px;
}
.texte p {
    font-size: 1.3em;
    font-weight: bold;
    margin: 50px;
}

/* Contact Us */


#sub{
    display: flex;
    justify-content: center;
}
#contact
{
    border: 2px #344e5e1c solid;
    margin-top: 50px;
    border-radius: 10px 5px 10px 5px;
    background-color: #f7f7f7;
    opacity: 0.9;
    padding: 30px;
    margin-bottom: 40px;
}

#contact h1
{
    text-align: center;


}

#contact #inputMessage
{
    width: 520px;
}


#contact #contenu
{
    justify-content: center;
}

.prout {
    max-width: 50%;
}
@media screen and (max-width:768px){
    .prout{
        max-width: 100%;
    }
}

/*
    Image credits:
    uifaces.com (http://uifaces.com/authorized)
*/

#login { display: none; }
.login,
.logout { 
    position: absolute; 
    top: -3px;
    right: 0;
}
.page-header { position: relative; }
.reviews {
    color: #555;    
    font-weight: bold;
    margin: 10px auto 20px;
}
.notes {
    color: #999;
    font-size: 12px;
}
.media .media-object { max-width: 120px; }
.media-body { position: relative; }
.media-date { 
    position: absolute; 
    right: 25px;
    top: 25px;
}
.media-date li { padding: 0; }
.media-date li:first-child:before { content: ''; }
.media-date li:before { 
    content: '.'; 
    margin-left: -2px; 
    margin-right: 2px;
}
.media-comment { margin-bottom: 20px; }
.media-replied { margin: 0 0 20px 50px; }
.media-replied .media-heading { padding-left: 6px; }

.btn-circle {
    font-weight: bold;
    font-size: 12px;
    padding: 6px 15px;
    border-radius: 20px;
}
.btn-circle span { padding-right: 6px; }
.embed-responsive { margin-bottom: 20px; }
.tab-content {
    padding: 50px 15px;
    border: 1px solid #ddd;
    border-top: 0;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}
.custom-input-file {
    overflow: hidden;
    position: relative;
    width: 120px;
    height: 120px;
    background: #eee url('https://s3.amazonaws.com/uifaces/faces/twitter/walterstephanie/128.jpg');    
    background-size: 120px;
    border-radius: 120px;
}
input[type="file"]{
    z-index: 999;
    line-height: 0;
    font-size: 0;
    position: absolute;
    opacity: 0;
    filter: alpha(opacity = 0);-ms-filter: "alpha(opacity=0)";
    margin: 0;
    padding:0;
    left:0;
}
.uploadPhoto {
    position: absolute;
    top: 25%;
    left: 25%;
    display: none;
    width: 50%;
    height: 50%;
    color: #fff;    
    text-align: center;
    line-height: 60px;
    text-transform: uppercase;    
    background-color: rgba(0,0,0,.3);
    border-radius: 50px;
    cursor: pointer;
}
.custom-input-file:hover .uploadPhoto { display: block; }
.prout .form-control {
    display: block;
    width: 100%;
    height: 100px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

