<<<<<<< HEAD

/* PAGE : CRITICS*/


#critics .titre p{
    margin-bottom: 80px;
}

.titre h1 { text-align: center;
    font-weight: bold;
     font-size: 5em;
    }
#critics .titre h1 {
        margin-bottom: 1em;
        margin-top: 1em;
    }

.titre p {
    text-align: center;
    margin-bottom: 6em;
}
.titre {
    margin-bottom: 11em;
}


/* les cards des films */
.movieslist img{
    width: 100%;
}
 .card-header, .metadata {
    background: none;
    padding: 0;
    position: relative;
    border-style: none;
 }
 
 .metadata {
    font-size: 16px;
    i, p {
       float: left;
    }
    p {
       margin-top: 0;
       margin-left: 10px;
    }
    i {
       color: #ff9d00;
       margin-top: 5px;
       margin-left: 1px;
    }
 }
 
 .card-title{
     margin: 0px;
 }
 .card-img {
    -webkit-clip-path: inset(10% 0 20% 0);
     clip-path: inset(10% 0 20% 0);
     margin-top: -15%;
 }
 .card-body span{
    text-align: right;
 }
 .card-body {
    position: relative;
    margin-top: -30%;
    .card-title {
       font-weight: 600;
       color: #414345;
    }
    .card-text {
        text-align: center;
       margin-top: 8px;
    }
 }

 .card-body p {
    font-size: 0.77em;
}}
 #critics .glyphicon-star{
    color: rgb(204, 199, 199);
    }
    #critics .glyphicon-star:hover{
        color: rgb(255, 169, 57);
        cursor: pointer;
        }
 
 .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 8pt;
    border-style: none;
    overflow: hidden;
    margin-top: -60px;
    margin-bottom: 7em;
}
}
 
 










/* Acceuil css */

/* Navbar */
.sticky-top
{
    margin-top: 10px;
}
.bg-light 
{
    background-color: #34495E!important;
    box-shadow: 6px 6px 0px gray;
}

.navbar-light .navbar-brand
{
    color: rgba(255, 255, 255, 1)
}

.navbar-brand
{
    font-size: 2.1em;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link
{
    color:rgba(255, 255, 255, 1);
}

.navbar-light .navbar-nav .nav-link
{
    color:rgba(255, 255, 255, 1);
}

.navbar-light .navbar-nav .nav-link.disabled
{
    color:rgba(255, 255, 255, 1);
}
.navbar
{
    margin: 0px;
}

/* image carousel */

<<<<<<< HEAD
#accueil .carousel-item img
{
    height: 600px;
=======
#accueil img
{   

    height: 650px;
>>>>>>> c6208dd98ae76f0b7878f213413e3a2287e53c20
    width: 1200px;
}
.vide
{
    padding-top: 40px;
}

a
{
    color: white;
}

a:hover
{
    color:black;
}


footer ul
{
    background-color: #34495E;
    padding: 10px;
    text-align: center;
    margin-top: 20px;
    list-style: none;
    color: white;
    box-shadow: 6px 6px 0px gray;
}

/* About us */


.principal
{
    text-align: center;
    font-size: 3em;
    margin: 50px;
    background-color: #34495E;
    opacity: 0.9;
    box-shadow: 6px 6px 0px gray;
    color: white;
    padding: 10px;

}

<<<<<<< HEAD

/* Accueil LAST CRTICS */
#lastcritics .movieslist{
    margin-top: 8em;
} 
#lastcritics{
    margin-top: 8em;
}

/* */
>>>>>>> faed1f842fb2364f75baa510bda0bc124c53118f
=======
.texte 
{   
    text-align: justify;
    padding: 20px;
    font-size: 1.3em;
    color: black;

}
    #about
{
    border: 2px #344e5e1c solid;
    margin-top: 50px;
    border-radius: 10px 5px 10px 5px;
}

/* Interstelar */

.conteneur-details {
	padding-top: 10px;
}

.conteneur-image {
	max-width: 100vw;
}


>>>>>>> c6208dd98ae76f0b7878f213413e3a2287e53c20
